<dom-module id="ui-manuel-santiago-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  box-sizing: inherit; }

</style></template></dom-module>